/* Pedro Gabriel Moreira dos Santos nº26 */

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}


nav.purple-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #150137, #5E00FF);
    color: white;
}

nav .menu-icon {
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
    transition: 0.3s;

}

nav .menu-icon:hover {
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
    transition: 0.3s;
    transform: scale(110%);
}

nav .nav-title {
    flex: 1;
    text-align: center;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 15px;
}

nav .avatar {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    right: 0;
    margin: 30px;
}


nav .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer.purple-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    background: linear-gradient(to top, #150137, #5E00FF);
    color: white;
    font-size: 14px;
}

footer .footer-left {
    flex: 1;
}

footer .footer-right {
    display: flex;
    align-items: center;
}

footer img {
    width: 50px;
    height: 50px;
    margin: 40px;
    margin-left: 0px;
    cursor: pointer;
    filter: brightness(0) invert(100%);
}

#menu-hamburguer {
    position: absolute;
    top: 10px;
    left: 10px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
}

.menu-content {
    display: none;
    position: absolute;
    top: 30%;
    left: 10px;
    max-height: 80vh;
    padding: 5px;
    margin-left: 50px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s, transform 0.3s;
}

.menu-content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.menu-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-content li {
    margin: 0;
}

.menu-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}

.menu-content a:hover {
    background-color: #f0f0f0;
}

.menu-content.show {
    display: block;
    opacity: 1;
    transform: scaleY(1);
    transform: translateY(10px);

}

.linkedin {
    border-radius: 10px;
    transition: 0.3s;
}

.github {
    transition: 0.3s;
}

.linkedin:hover,
.github:hover {
    transition: 0.3s;
    transform: scale(110%);
}

.page-description {
    background-color: white;
    padding: 2px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: -1;
}


.page-description p,
.page-description h5 {
    margin: 5px 0;
}

.arrow-left {
    position: absolute;
    left: 75vh;
}

.arrow-right {
    position: absolute;
    right: 75vh;
}

.mobile-buttons {
    text-align: center;
    position: fixed;
    bottom: 12vh;
    left: 0;
    right: 0;
}

.mobile-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5E00FF;
    transition: 0.3s;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    transition: background-color 0.3s ease;
}

/* ---------------------------------------PADRAO---------------------------------------------------- */

table {
    width: 80vh;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: 25%;
    /* Largura fixa para as células */
}

thead {
    background-color: #5E00FF;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

td[contenteditable="true"] {
    background-color: #fffae6;
}


.button-container {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5E00FF;
    transition: 0.3s;
    margin-right: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    transition: background-color 0.3s ease;
}

button:hover {
    transform: scale(106%);
    transition: 0.3s;
    background-color: #833bff;
    color: rgb(255, 240, 240);
}

#finishEditButton {
    display: none;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adicionarLinha {
    background-color: #5E00FF;
    border: none;
    border: 1px solid black;
    padding: 15px;
    font-size: 1rem;
    border-radius: 5px;
    width: 20vh;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.editarLinha:hover,
.adicionarLinha:hover {
    transition: 0.3s;
    transform: scale(107%);
    background-color: #833bff;
    color: rgb(255, 240, 240);
}